.header {
  background-color: #355d8e;
  color: white;
  height: 64px;
  padding: 0 1em;
  margin: 0;
  width: 100%;

  h1 {
    font: 500 20px/32px Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    margin: 0;
  }

  mat-form-field {
    color: black;
    background-color: white;
  }
}

.profile-menu {
  min-width: 200px !important;
}

@media (max-width: 599px) {
  .header {
    height: 56px;
  }
}
