mat-form-field {
  width: 100%;
}

h2 {
  margin-block-end: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.sub-header {
  font-size: smaller !important;
  color: rgba($color: #000000, $alpha: 0.7);
  margin-bottom: 1em;
}
